<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="d" providerName="System.Data.Sqlclient" connectionString ="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Hassan Arshad\Documents\complete.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>